{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile - SCM System{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Profile</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Username:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary">Edit Profile</a>
                            <a href="{% url 'accounts:change_password' %}" class="btn btn-secondary">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}